---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlwaysBreakTemplateDeclarations: true
AccessModifierOffset: -4
PointerAlignment: Left
